/********************************************TAG SELECTORS*****************************************************************/
a {
  color: #fff;
  font-family: 'Aclonica', sans-serif;
  margin: 10px 5px;
  text-decoration: none;
}
a:hover {
  color: #775340;
}
body {
  color: #235952;
  font-family: 'Baloo Chettan 2', cursive;
  margin: 0;
  text-align: center;
}
h1 {
  font-family: 'Montez', cursive;
  font-size: 5.625rem;
  height: 30%;
  margin: 50px auto 0 auto;
}
h2 {
  font-family: 'Aclonica', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 10px;
}
h3 {
  font-family: 'Aclonica', sans-serif;
}
hr {
  border: dotted #c5c5c5 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}
p {
  color: #5f6769;
  font-size: 20px;
  line-height: 2;
}
/********************************************CLASS SELECTORS*****************************************************************/
.bottom-section {
  background-color: #dfcdc3;
  padding: 50px 0 20px;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfcdc3), color-stop(1, #c4afa3));
  background: -moz-linear-gradient(center top, #dfcdc3 5%, #c4afa3 100%);
  background-color: #dfcdc3;
  border: 1px solid #c4afa3;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #235952;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfcdc3', endColorstr='#c4afa3');
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 0px 1px 0px #d9c5ba;
  width: 140px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
}
.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c4afa3), color-stop(1, #dfcdc3));
  background: -moz-linear-gradient(center top, #c4afa3 5%, #dfcdc3 100%);
  color: #235952;
}
.code-img {
  border-style: solid;
  border-radius: 40%;
  width: 25%;
  float: left;
  margin : 0 3%;
}
.contact-msg {
  margin: 40px auto 60px;
  width: 40%;
}
.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}
.develop-img{
  border-style: solid;
  border-radius: 40%;
  width: 25%;
  float: right;
  margin : 0 3%;
}
.icons-1{
width: 50px;
  height: 50px;
}
.icons-2{
  display: inline-block;
  width: 30px;
  height:50px;
}
.icons-3{
  display: inline-block;
  width: 70px;
  height: 50px;
}
.icons-4{
  display: inline-block;
  width: 50px;
  height: 50px;
}
.intro {
  margin: auto;
  width: 30%;
}
.middle-section {
  margin: 100px 0;
}
.my-resume {
color: #dfcdc3;
}
.profile-img {
  border-radius: 100%;
  border-style: solid;
  width: 20%;
}
.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}
.top-section {
  background-color: #dfcdc3;
  padding: 80px 0  40px 0;
  position: relative;
}
